Babel==2.9.1  # min version = 2.6.0 (Focal with security backports)
chardet==3.0.4
cryptography==3.4.8
decorator==4.4.2
docutils==0.16
ebaysdk==2.1.5
freezegun==0.3.11; python_version < '3.8'
freezegun==0.3.15; python_version >= '3.8'
gevent==1.5.0 ; python_version == '3.7'
gevent==20.9.0 ; python_version > '3.7' and python_version <= '3.9'
gevent==22.10.1 ; python_version > '3.9'# (Jammy)
greenlet==0.4.15 ; python_version == '3.7'
greenlet==0.4.17 ; python_version > '3.7' and python_version <= '3.9'
greenlet==1.1.2 ; python_version  > '3.9'  # (Jammy)
idna~=3.3
Jinja2~=3.0.3
libsass==0.21.0
lxml~=4.8.0
MarkupSafe~=2.0.1
num2words~=0.5.10
ofxparse==0.19; python_version <= '3.9'
ofxparse==0.21; python_version > '3.9'  # (Jammy)
passlib~=1.7.4
Pillow==9.0.1  # min version = 7.0.0 (Focal with security backports)
polib~=1.1.1
psutil~=5.9.0
psycopg2==2.7.7; sys_platform != 'win32' and python_version < '3.8'
psycopg2==2.9.5; sys_platform == 'win32' or python_version >= '3.8'
pydot==1.4.1
pyopenssl==19.0.0
PyPDF2==1.26.0
pypiwin32 ; sys_platform == 'win32'
pyserial==3.4
python-dateutil~=2.8.1
python-ldap==3.4.3 ; sys_platform != 'win32'# min version = 3.2.0 (Focal with security backports)
python-stdnum~=1.17
pytz~=2022.1
pyusb==1.0.2
qrcode~=7.3.1
reportlab~=3.6.8
requests==2.25.1 # versions < 2.25 aren't compatible w/ urllib3 1.26. Bullseye = 2.25.1. min version = 2.22.0 (Focal)
urllib3==1.26.5 # indirect / min version = 1.25.8 (Focal with security backports)
vobject==0.9.6.1
Werkzeug==0.16.1 ; python_version <= '3.9'
Werkzeug==2.0.2 ; python_version > '3.9'  # (Jammy)
xlrd==1.1.0; python_version < '3.8'
xlrd==1.2.0; python_version >= '3.8'
XlsxWriter~=3.0.2
xlwt==1.3.*
zeep~=4.1.0

psycopg2~=2.9.2
Werkzeug~=2.0.2
xlrd~=1.2.0
freezegun~=1.0.0
pexpect~=4.8.0
netifaces~=0.11.0
tentaclio~=1.0.8
setuptools~=65.5.0